{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am from Palo Alto, California, and some of my hobbies include reading, coding, and playing chess. I go to Middle School at Crystal Springs Uplands School. I created this blog to share some helpful coding tips and also just some random thoughts!</p>
        <p>In terms of programming I am able to code in python, HTML, CSS, and some Swift. I mainly use python but from time to time I like to create a website and then maybe create a server with Flask in python. Although I learned Swift, I don't really enjoy creating apps so I don't ever use it.</p>
        <p>I really hope that you enjoy reading my blog posts and I look forward to hearing from you through the Contact Me page or in the comments of the blog posts. Thanks for reading my blog!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}